<header class="header">
    <div class="header__wrapper">
        <a href="/" class="header__title-wrapper  js-smooth-scroll">
            <div class="header__title-main"> Lead Together </div>
        </a>

        <div class="header__social-icons" style="margin-top: 11px">
            <% if (typeof session.login === 'undefined') { %>
            <a style="font-size:22px;font-weight: 500;" href="/login"><i class="fa fa-sign-in"></i> Login</a>
            <% } else { %>
            <a style="font-size:22px;font-weight: 500;" href="/logout"><i class="fa fa-sign-out"></i> Logout</a>
            <% } %>
        </div>
    </div>
</header>