<!DOCTYPE html><html lang="en">

<head>
	<!-- Basic informations -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">

	<!-- Site informations -->
	<title>Inicio</title>
	<meta name="author" content="Dominik Serafin">
	<meta name="description" content="Free HTML5 Template created by Dominik Serafin.">


	<!-- Twitter Card -->
	<!--
	<meta name="twitter:title" content="">
	<meta name="twitter:description" content="">
	<meta name="twitter:domain" content="">
	<meta name="twitter:image:src" content="">
	<meta name="twitter:site" content="">
	<meta name="twitter:creator" content="">
	<meta name="twitter:card" content="">
	-->

	<!-- Favicon -->
	<link rel="apple-touch-icon" sizes="180x180" href="style/favicon/apple-touch-icon-180x180.png">
	<link rel="apple-touch-icon" sizes="152x152" href="style/favicon/apple-touch-icon-152x152.png">
	<link rel="apple-touch-icon" sizes="144x144" href="style/favicon/apple-touch-icon-144x144.png">
	<link rel="apple-touch-icon" sizes="120x120" href="style/favicon/apple-touch-icon-120x120.png">
	<link rel="apple-touch-icon" sizes="114x114" href="style/favicon/apple-touch-icon-114x114.png">
	<link rel="apple-touch-icon" sizes="57x57" href="style/favicon/apple-touch-icon-57x57.png">
	<link rel="apple-touch-icon" sizes="72x72" href="style/favicon/apple-touch-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="60x60" href="style/favicon/apple-touch-icon-60x60.png">
	<link rel="apple-touch-icon" sizes="76x76" href="style/favicon/apple-touch-icon-76x76.png">
	<link rel="icon" type="image/png" href="style/favicon/favicon-192x192.png" sizes="192x192">
	<link rel="icon" type="image/png" href="style/favicon/favicon-160x160.png" sizes="160x160">
	<link rel="icon" type="image/png" href="style/favicon/favicon-96x96.png" sizes="96x96">
	<link rel="icon" type="image/png" href="style/favicon/favicon-16x16.png" sizes="16x16">
	<link rel="icon" type="image/png" href="style/favicon/favicon-32x32.png" sizes="32x32">
	<meta name="msapplication-TileColor" content="#da532c">
	<meta name="msapplication-TileImage" content="style/favicon/mstile-144x144.png">
	<meta name="msapplication-config" content="style/favicon/browserconfig.xml">
	<link rel="shortcut icon" href="favicon.ico">

	<!-- Fonts -->
	<link href="style/fonts/webfont-raleway/webfont-raleway.css" rel="stylesheet" type="text/css">
	<link href="style/fonts/webfont-font-awesome/css/font-awesome.css" rel="stylesheet" type="text/css">

	<!-- Stylesheets -->
	<link href="style/css/global.css" type="text/css" rel="stylesheet" media="all">

	<!-- Scripts preload -->
	<!--[if lt IE 9]><script src="style/js/html5shiv.js"></script><![endif]-->
</head>

<body>


	<!-- Some Helper Stuff -->
	<div id="start" class="start">&nbsp;</div>
	<div class="maxwidth1050">&nbsp;</div>


	<!-- Header -->
	<header class="header">
		<div class="header__wrapper">
			<a href="#start" class="header__title-wrapper  js-smooth-scroll">
				<div class="header__title-main"> Lead Together </div>
				<!--<div class="header__title-sub">By Dominik Serafin</div>-->
			</a>

			<div class="header__social-icons">
				<a target="_blank" href="/CrearEscenario"><i class="fa fa-group"></i></a>
				<a target="_blank" href="https://twitter.com/SerafinDominik"><i class="fa fa-bar-chart"></i></a>
				<a target="_blank" href="https://dribbble.com/DominikSerafin"><i class="fa fa-folder"></i></a>
				<a target="_blank" href="https://www.behance.net/dominikserafin"><i class="fa fa-download"></i></a>
				<a target="_blank" href="https://github.com/DominikSerafin/"><i class="fa fa-envelope"></i></a>
				<a target="_blank" href="https://linkedin.com/pub/dominik-serafin/a1/672/93b"><i class="fa fa-home"></i></a>
			</div>
		</div>
	</header>
	<!-- End Header -->


	<!-- First Fixed "Hero" Section -->
	<section id="hero" class="hero">
		<div class="hero__gradient">&nbsp;</div>
		<div class="hero__pattern">&nbsp;</div>
		<div class="hero__content">
			<div class="hero__content-wrapper">
				<div class="hero__title-wrapper">
					<div class="hero__title-large">Hola!</div>
					<div class="hero__title-small">Este es Lead Together.</div>
				</div>
				<div class="hero__photo-wrapper">
					<div class="hero__photo">
						<!--<div class="hero__hat">&nbsp;</div>-->
					</div>
				</div>
				<div class="hero__description">
					Esta aplicación está hecha para ayudar a la toma de decisiones de forma más rápido y colaborativa entre un grupo de usuarios.
				</div>
				<div class="hero__call-to-action">
					<a href="https://goo.gl/lp9Gd6" target="_blank" class="hero__button  ghost-button  ghost-button--hero">Entrar como usuario &nbsp; <i class="hero__alt-button"></i></a>
					<a href="https://goo.gl/lp9Gd6" target="_blank" class="hero__button  ghost-button  ghost-button--hero">Entrar como invitado &nbsp; <i class="hero__alt-button"></i></a>
					<a href="https://goo.gl/lp9Gd6" target="_blank" class="hero__button  ghost-button  ghost-button--hero">Registrarse &nbsp; <i class="hero__alt-button"></i></a>
				</div>
			</div>
		</div>
	</section>
	<!-- End First Fixed "Hero" Section -->


</body>
</html>
