<!DOCTYPE html>
<html lang="en">
<% include ../partials/header %>
<% include ../partials/nav %>
<body>
<script>
    var app = angular.module('myApp', []);
    app.controller('ChatSend', function($scope, $http) {
        $scope.username = "";
        $scope.msg = "";
        $scope.algo = function () { return $scope.username };
        $scope.algo2 = function () { return $scope.msg };
        $scope.sendMsg = function () {
            $http.post('/chat/12345', {username:$scope.algo(), msg:$scope.algo2()});
        }
    });
    app.controller('ChatRecv', function ($scope, $http) {
        $http.get('/chat/12345')
            .then(function(response) {
                $scope.msg = JSON.stringify(response);
            });
    })
</script>
<div class="container" ng-app="myApp">
<form class="form-horizontal">
    <div class="form-group" ng-controller="ChatSend">
        <label>Username</label>
        <input type="text" ng-model="username">
        <label>msg</label>
        <input type="text" ng-model="msg">
        <button ng-click="sendMsg()" class="btn btn-primary">Submit</button>
        <p>{{mensaje()}}</p>
    </div>
</form>
<div ng-controller='ChatRecv'>
    <p>{{msg}}</p>
</div>
</div>

</body>
</html>