<!DOCTYPE html>
<html>
<% include ../partials/header %>
<body style="overflow:hidden">
<div id="start" class="start"></div>
<div class="maxwidth1050"></div>
<% include ../partials/nav %>
<section id="hero" class="hero">
  <div class="hero__gradient"></div>
  <div class="hero__pattern"></div>
  <div class="hero__content">
    <div class="hero__content-wrapper">
      <div class="container">
        <h1 class="text-center clabel">
          <%= title[pack.language] %>
        </h1>
        <div class="sessionCont">
          <form class="form-horizontal" action="/api/createSesion" method="POST" enctype="application/x-www-form-urlencoded">
            <div class="form-group">
              <label class="col-lg-2 control-label clabel"><%=pack.text[0][pack.language]%></label>
              <div class="col-lg-9">
                <input type="text" class="form-control" id="title" name="title" placeholder="">
              </div>
            </div>
            <div class="form-group">
              <label class="col-lg-2 control-label clabel"><%=pack.text[1][pack.language]%></label>
              <div class="col-lg-9">
                <input type="text" class="form-control" id="objetive" name="objetive" placeholder="">
              </div>
            </div>
            <div class="form-group">
              <div class="col-lg-10 col-lg-offset-2">
                <a href="/sessions" class="btn btn-info" role="button"><%=pack.text[2][pack.language]%></a>
                <button type="submit" class="btn btn-primary"><%=pack.text[3][pack.language]%></button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
</body>
</html>