<!DOCTYPE html>
<html>
<% include ../partials/header %>
<body style="overflow:hidden">
<div id="start" class="start"></div>
<div class="maxwidth1050"></div>
<% include ../partials/nav %>
<section id="hero" class="hero">
  <div class="hero__gradient"></div>
  <div class="hero__pattern"></div>
  <div class="hero__content">
    <div class="hero__content-wrapper">
      <form class="form-horizontal" action="/api/soluciones" method="POST" enctype="application/x-www-form-urlencoded">
        <div class="form-group">
          <label class="col-lg-4 control-label clabel"><%=pack.text[0][pack.language]%></label>
          <div class="col-lg-3">
            <input type="text" class="form-control" id="name" name="name" placeholder="Nombre solucion">
          </div>
        </div>
        <div class="form-group">
          <label class="col-lg-4 control-label clabel"><%=pack.text[1][pack.language]%></label>
          <div class="col-lg-3">
            <input type="text" class="form-control" id="description" name="description" placeholder="Descripcion solucion">
          </div>
        </div>
        <div class="form-group">
          <label class="col-lg-4 control-label clabel"><%=pack.text[2][pack.language]%></label>
          <div class="col-lg-3">
            <input type="text" class="form-control" id="result" name="result" placeholder="Resultado solucion">
          </div>
        </div>
        <div class="form-group">
          <div class="col-lg-10 col-lg-offset-5">
            <a href="/" class="btn btn-info" role="button"><%=pack.text[3][pack.language]%></a>
            <button type="submit" class="btn btn-primary"><%=pack.text[4][pack.language]%></button>
          </div>
        </div>
      </form>
    </div>
  </div>
</section>
</body>
</html>