<!DOCTYPE html>
<html lang="en">
<% include ../partials/header %>
<% include ../partials/nav %>
<body>
<div class="container">
    <h1><p>Crear Nueva Sesion</p></h1>

    <form>
        <p>Título:</p>  <br>
        <input type="text" class="form-control text-center" id="name" name="email" placeholder="name"><br>
        <p>Objetivo:</p>  <br>
        <input type="text" class="form-control text-center" id="objective" name="objective" placeholder="objective"><br>
    </form>

</div>
</body>
</html>