<script src="js/scrollglue.js"></script>
<script src="js/angular_scripts.js"></script>
<script type="text/ng-template" id="http://localhost:3000/graphic">
    <div class="modal-header">
        <h3 class="modal-title" id="modal-title" style="color:white;">Histograma del Escenario {{actualName}}</h3>
    </div>
    <div class="modal-body" id="modal-body">
        <div class="graph" ng-controller="BarChart" >
            <canvas id="bar" class="chart-horizontal-bar"
                    chart-data="data" chart-labels="labels">
            </canvas>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-danger" type="button" data-ng-click="cancel()"> Cerrar </button>
    </div>
</script>