<!DOCTYPE html>
<html>
<% include ../partials/header %>
<body style="overflow:hidden">
  <div id="start" class="start"></div>
  <div class="maxwidth1050"></div>
  <% include ../partials/nav %>
  <section id="hero" class="hero">
    <div class="hero__gradient"></div>
    <div class="hero__pattern"></div>
    <div class="hero__content">
      <div class="hero__content-wrapper">
        <div class="hero__title-wrapper">
          <div class="hero__title-large">
            <p><%= pack.text[0][pack.language] %></p>
          </div>
          <div class="hero__title-small">
            <% if (typeof session.login !== 'undefined') { %>
              <%= session.username %>
            <% } %>
          </div>
          <div class="hero__title-small">
            <p><%= pack.text[1][pack.language] %></p>
          </div>
        </div>
        <div class="hero__photo-wrapper">
          <div class="hero__photo"></div>
        </div>
        <div class="hero__description">
          <p><%= pack.text[2][pack.language] %></p>
        </div>
        <div class="hero__call-to-action">
          <% if (typeof session.login === 'undefined') { %>
          <a href="/entradaInvitado" type="submit" class="hero__button ghost-button ghost-button--hero">
            <i class="fa fa-arrow-circle-right"></i>
            <p><%= pack.text[3][pack.language] %></p>
          </a>
          <a href="/crearUsuario?Err=0" class="hero__button ghost-button ghost-button--hero">
            <i class="fa fa-user-plus"></i>
            <p><%= pack.text[4][pack.language] %></p>
          </a>
          <% } else { %>
          <a href="/sessions" class="hero__button ghost-button ghost-button--hero">
            <i class="fa fa-arrow-circle-right"></i>
            <p><%= pack.text[5][pack.language] %></p>
          </a>
          <a href="/invitaciones" class="hero__button ghost-button ghost-button--hero">
            <i class="fa fa-arrow-circle-right"></i>
            <p><%= pack.text[6][pack.language]%></p>
          </a>
          <a href="/" class="hero__button ghost-button ghost-button--hero">
            <i class="fa fa-arrow-circle-right"></i>
            <p><%= pack.text[7][pack.language]%></p>
          </a>
          <% } %>
        </div>
      </div>
    </div>
  </section>
</body>
</html>
