<!DOCTYPE html><html lang="en">
<% include ../partials/header %>
<body>
	<div id="start" class="start"></div>
	<div class="maxwidth1050"></div>
	<% include ../partials/nav %>
	<section id="hero" class="hero">
		<div class="hero__gradient">&nbsp;</div>
		<div class="hero__pattern">&nbsp;</div>
		<div class="hero__content">
			<div class="hero__content-wrapper">
				<div class="hero__title-wrapper">
					<div class="hero__title-large">
						Bienvenido <% if (typeof session.login !== 'undefined') { %>
						<%= session.username %>
						<% } %>
					</div>
					<div class="hero__title-small">Este es Lead Together.</div>
				</div>
				<div class="hero__photo-wrapper">
					<div class="hero__photo">
					</div>
				</div>
				<div class="hero__description">
					Esta aplicación está hecha para ayudar a la toma de decisiones de forma más rápida y colaborativa entre un grupo de usuarios.
				</div>
				<div class="hero__call-to-action">
					<% if (typeof session.login === 'undefined') { %>
					<a href="#" class="hero__button  ghost-button  ghost-button--hero"><i class="fa fa-arrow-circle-right"></i> Entrar como invitado</i></a>
					<a href="/crearUsuario" class="hero__button ghost-button ghost-button--hero"><i class="fa fa-user-plus"></i> Registrarse</i></a>
					<% } else { %>
					<a href="/createSesion" class="hero__button  ghost-button  ghost-button--hero"><i class="fa fa-arrow-circle-right"></i> Crear sesión</i></a>
					<% } %>
				</div>
			</div>
		</div>
	</section>

</body>
</html>
