<!DOCTYPE html>
<html>
<% include ../partials/header %>
<body>
  <div id="start" class="start"></div>
  <div class="maxwidth1050"></div>
  <% include ../partials/nav %>
  <section id="hero" class="hero">
    <div class="hero__gradient"></div>
    <div class="hero__pattern"></div>
    <div class="hero__content">
      <div class="hero__content-wrapper">
        <div class="container">
          <h1 class="clabel"><%=pack.text[0][pack.language]%></h1>
          <table class="table">
            <thead>
            <tr>
              <th>
                <p class="clabel"><%=pack.text[1][pack.language]%></p>
              </th>
              <th>
                <p class="clabel"><%=pack.text[2][pack.language]%></p>
              </th>
              <th><p class="clabel"><%=pack.text[3][pack.language]%></p></th>
            </tr>
            </thead>
            <tbody>
            <% for (var i = 0; i < resultado.length; i++){ %>
              <tr>
                <td>
                  <a href="/session?SessionId=<%= resultado[i].id%>&nameSession=<%= resultado[i].titulo%>" class="clabel">
                    <%= resultado[i]['Sesion.titulo'] %>
                  </a>
                </td>
                <td>
                  <p class="clabel">
                    <%= resultado[i]['Sesion.objetivo'] %>
                  </p>
                </td>
                <td>
                  <a class="clabel" href="/session?SessionId=<%= resultado[i].id%>&nameSession=<%= resultado[i].titulo%>">
                    <i class="fa fa-sign-in fa-2x" aria-hidden="true"></i>
                  </a>
                </td>
              </tr>
            <% } %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </section>
</body>
</html>