<!DOCTYPE html>
<html lang="en">
<% include ../partials/header %>
<% include ../partials/nav %>
<body>
<div class="container" >

    <h1><p class="text-center"><%=title%></p></h1>

    <form class="form-horizontal" action="/api/login" method="POST" enctype="application/x-www-form-urlencoded" >
            <legend></legend>
            <div class="form-group">
                <label class="col-lg-2 control-label"><p>Email</p></label>
                <div class="col-lg-3">
                    <input type="text" class="form-control text-center" id="email" name="email" placeholder="Email">
                </div>
            </div>
            <div class="form-group">
                <label class="col-lg-2 control-label"><p>Password</p></label>
                <div class="col-lg-3">
                    <input type="password" class="form-control text-center" id="password" name="password" placeholder="Password">
                </div>
            </div>
            <div class="form-group">
                <div class="col-lg-10 col-lg-offset-2">
                    <button type="reset" class="btn btn-default">Cancel</button>
                    <button type="submit" class="btn btn-primary">Log in</button>
                </div>
            </div>
        <% if (resultado == 'error') { %>
            <div class="form-group">
                <div class="col-lg-10 col-lg-offset-2">
                    <button type="button" class="btn btn-danger">Error al iniciar sesión</button>
                </div>
            </div>
        <% }%>
    </form>

</div>
</body>
</html>