<!DOCTYPE html>
<html lang="en">
<% include ../partials/header %>

<body>
<div id="start" class="start"></div>
<div class="maxwidth1050"></div>
<% include ../partials/nav %>
<section id="hero" class="hero">
    <div class="hero__gradient">&nbsp;</div>
    <div class="hero__pattern">&nbsp;</div>
    <div class="hero__content">
        <div class="hero__content-wrapper">

    <form class="form-horizontal" action="/api/login" method="POST" enctype="application/x-www-form-urlencoded" >
            <legend></legend>
            <div class="form-group">
                <label class="col-lg-2 control-label clabel"><p>Email</p></label>
                <div class="col-lg-3">
                    <input type="text" class="form-control" id="email" name="email" placeholder="example@example.com">
                </div>
            </div>
            <div class="form-group">
                <label class="col-lg-2 control-label clabel"><p>Password</p></label>
                <div class="col-lg-3">
                    <input type="password" class="form-control" id="password" name="password" placeholder="********">
                </div>
            </div>
            <div class="form-group">
                <div class="col-lg-10 col-lg-offset-2">
                    <a href="/" class="btn btn-info" role="button">Cancel</a>
                    <button type="submit" class="btn btn-primary">Log in</button>
                </div>
            </div>
        <% if (typeof resultado !== 'undefined') {
                if (resultado === 'error') {%>
            <div class="form-group">
                <div class="col-lg-10 col-lg-offset-2">
                    <button type="button" class="btn btn-danger">Error al iniciar sesión</button>
                </div>
            </div>
        <% }}%>

    </form>

</div>
    </div>
</section>
</body>
</html>