<!DOCTYPE html>
<html lang="en">
<% include ../partials/header %>
<% include ../partials/nav %>
<script>
    models.Sesion.findAll().then.function(resultado)
</script>
<body>
<div class="container">
    <h1> <p> Sesiones </p></h1>
    <a href="/createSesion"> <p> Nueva Sesion </p> </a>
    <table class="table">
        <thead>
        <tr>
            <th> <p> Título </p> </th>
            <th> <p> Escenario </p></th>
            <th> <p> Objetivo </p></th>
        </tr>
        </thead>
        <% for (var i = 0; i < resultado.length; i++){ %>
        <tbody>
        <tr>
            <td> <p> <%= resultado[i].titulo%> </p> </td>
            <td> <p> <%= resultado[i].escenario %> </p> </td>
            <td> <p> <%= resultado[i].objetivo %> </p> </td>
            <!--<td><%= resultado[i].rut%></td>-->
            <td> <p> Eliminar Modificar </p> </td>
        </tr>
        <% }%>
        </tbody>
    </table>
</div>
</body>
</html>