<!DOCTYPE html>
<html lang="en">
<% include ../partials/header %>
<% include ../partials/nav %>
<script>
    models.Sesion.findAll().then.function(resultado)
</script>
<body>
<div class="container">
    <h1> <p> Sesiones </p></h1>
    <a href="/createSesion"> <p> Nueva Sesion </p> </a>
    <table class="table">
        <thead>
        <tr>
            <th> <p> ID </p> </th>
            <th> <p> Título </p> </th>
            <th> <p> Escenario </p></th>
        </tr>
        </thead>
        <% for (var i = 0; i < resultado.length; i++){ %>
        <tbody>
        <tr>
            <td><%= resultado[i].id%></td>
            <td><%= resultado[i].titulo%></td>
            <td><%= resultado[i].escenario %></td>
            <td><%= resultado[i].link %></td>
            <!--<td><%= resultado[i].rut%></td>-->
            <td> Eliminar Modificar</td>
        </tr>
        <% }%>
        </tbody>
    </table>
</div>
</body>
</html>