<!DOCTYPE html>
<html lang="en">
<% include ../partials/header %>
<body>
<div id="start" class="start"></div>
<div class="maxwidth1050"></div>
<% include ../partials/nav %>
<section id="hero" class="hero">
    <div class="hero__gradient">&nbsp;</div>
    <div class="hero__pattern">&nbsp;</div>
    <div class="hero__content">
        <div class="hero__content-wrapper">
<div class="container">
    <h1> <p class="clabel"> Sesiones </p></h1>
    <a href="/createSesion"> <p class="clabel"> Nueva Sesion </p> </a>
    <table class="table">
        <thead>
        <tr>
            <th> <p class="clabel"> Título </p> </th>
            <th> <p class="clabel"> Objetivo </p></th>
        </tr>
        </thead>
        <% for (var i = 0; i < resultado.length; i++){ %>
        <tbody>
        <tr>
            <td> <a href="/session?SessionId=<%= resultado[i].id%>" class="clabel"> <%= resultado[i].titulo%> </a> </td>
            <td> <p class="clabel"> <%= resultado[i].objetivo %> </p> </td>
        </tr>
        <% }%>
        </tbody>
    </table>
</div>
        </div>
    </div>
</body>
</html>