<!DOCTYPE html>
<html>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.6/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.6/angular-sanitize.js"></script>
<script>
    var usernamelogged = "<%= session.username %>"
    var url = "<%= url %>"
</script>
<script src="js/chat_rest.js"></script>
<% include ../partials/header %>
<body>
<div id="start" class="start"></div>
<div class="maxwidth1050"></div>
<% include ../partials/nav %>
<section id="hero" class="hero" data-ng-app="myApp">
    <div class="hero__gradient"></div>
    <div class="hero__pattern"></div>
    <div class="hero__content">
        <div class="hero__content-wrapper">
            <div class="container col-md-8 pull-left" data-ng-controller="Show">
                <div style="display: inline-flex">
                    <h1 class="clabel"><a href="/sessions">Sesion:</a> <%= name %></h1>
                    <% if(hostId == session.userId) { %>
                    <div style="margin-left: 10px; display: inline-flex">
                        <button class="btn btn-primary" data-ng-click="show()">Compartir...</button>
                        <p style="margin-left: 10px" class="clabel">{{ url }}</p>
                    </div>
                    <% } %>
                </div>
                <table class="table">
                    <thead>
                    <tr>
                        <th class="clabel">Título Escenario</th>
                        <th class="clabel">Descripción</th>
                    </tr>
                    </thead>
                    <% for (var i = 0; i < resultado.length; i++) { %>
                    <tbody>
                    <tr>
                        <td class="clabel"><a data-ng-click="showAlt()"><%= resultado[i].titulo %></a></td>
                        <td class="clabel"><%= resultado[i].descripcion %></td>
                    </tr>
                    <% } %>
                    </tbody>
                </table>
                <label ng-repeat="fruit in fruits">
                    <!--
                      - Use `value="{{fruit.name}}"` to give the input a real value, in case the form gets submitted
                        traditionally

                      - Use `ng-checked="fruit.selected"` to have the checkbox checked based on some angular expression
                        (no two-way-data-binding)

                      - Use `ng-model="fruit.selected"` to utilize two-way-data-binding. Note that `.selected`
                        is arbitrary. The property name could be anything and will be created on the object if not present.
                    -->
                    <input
                            type="checkbox"
                            name="selectedFruits[]"
                            value="{{fruit.name}}"
                            ng-model="fruit.selected"
                    > {{fruit.name}}
                </label>
            </div>
            <div class="container col-md-4 pull-right">
                <div class="form-inline form-group" data-ng-controller='Timer'>
                    <label class="clabel">{{ minutes() }} minutos {{ timer%60 }} segundos</label>
                    <button class="btn btn-success" data-ng-click='addTime()'>+1</button>
                    <button class="btn btn-warning" data-ng-click='resetTime()'>Reset</button>
                </div>
                <form class="form-inline" data-ng-controller='ChatSend'>
                    <div class="form-group">
                        <label for="message" class="clabel">Mensaje</label>
                        <input id="message" type="text" data-ng-model="msg" />
                    </div>
                    <button data-ng-click="sendMsg()" class="btn btn-primary">Enviar</button>
                </form>
                <div data-ng-controller='ChatRecv'>
                    <div class="table table-borderless">
                        <div data-ng-repeat="i in lista">
                            <span>{{ i.username }}:</span>
                            <span>{{ i.msg }}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
</html>