<!DOCTYPE html>
<html lang="en">
<% include ../partials/header %>
<body>
<div id="start" class="start"></div>
<div class="maxwidth1050"></div>
<% include ../partials/nav %>
<section id="hero" class="hero">
    <div class="hero__gradient">&nbsp;</div>
    <div class="hero__pattern">&nbsp;</div>
    <div class="hero__content">
        <div class="hero__content-wrapper">
<div class="container">
    <h1> <p class="clabel"> Sesiones </p></h1>
    <table class="table">
        <thead>
        <tr>
            <th> <p class="clabel"> Título </p> </th>
            <th> <p class="clabel"> Objetivo </p></th>
        </tr>
        </thead>
        <% for (var i = 0; i < resultado.length; i++){ %>
        <tbody>
        <tr>
            <td> <a href="/session?SessionId=<%= resultado[i].id%>&nameSession=<%= resultado[i].titulo%>" class="clabel"> <%= resultado[i].titulo%> </a> </td>
            <td> <p class="clabel"> <%= resultado[i].objetivo %> </p> </td>
            <td> <a href="/session?SessionId=<%= resultado[i].id%>&nameSession=<%= resultado[i].titulo%>"> <i class="fa fa-plus-circle fa-3x"  aria-hidden="true"></i></a> </td>
        </tr>
        <% }%>
        </tbody>
    </table>
    <div class="hero__call-to-action">
        <a href="/createSesion" class="hero__button  ghost-button  ghost-button--hero">
            <i class="fa fa-plus-circle" aria-hidden="true"></i><p> Nueva Sesión</p></a>
    </div>
</div>
        </div>
    </div>
</body>
</html>