<script type="text/ng-template" id="http://localhost:3000/share">
  <div class="modal-header">
    <h3 class="modal-title" id="modal-title" style="color:white;"><%=pack.text[0][pack.language]%></h3>
  </div>
  <div class="modal-body" id="modal-body">
    <h4>Link: <input type="text" ng-value="getLink()" id="myInput">
      <button data-ng-click="copyText()"><%=pack.text[1][pack.language]%></button> </h4>
  </div>
  <div class="modal-footer">
    <button class="btn btn-danger" type="button" data-ng-click="cancel()"> <%=pack.text[2][pack.language]%> </button>
  </div>
</script>