<!DOCTYPE html>
<html>
<% include ../partials/header %>
<body style="overflow:hidden">
<div id="start" class="start"></div>
<div class="maxwidth1050"></div>
<% include ../partials/nav %>
<section id="hero" class="hero">
  <div class="hero__gradient"></div>
  <div class="hero__pattern"></div>
  <div class="hero__content">
<h1 class="clabel"> <% title %> </h1>
<table class="table">
  <thead>
  <tr>
    <th> <p class="clabel"> <%=pack.text[0][pack.language]%> </p> </th>
    <th> <p class="clabel"> <%=pack.text[1][pack.language]%> </p></th>
    <th> <p class="clabel"> <%=pack.text[2][pack.language]%> </p></th>
  </tr>
  </thead>
  <tbody>
  <% for (var i = 0; i < resultado.length; i++) { %>
  <tr>
    <td> <p class="clabel"> <%= resultado[i].name %> </p> </td>
    <td> <p class="clabel"> <%= resultado[i].description %> </p> </td>
    <td> <p class="clabel"> <%= resultado[i].result %> </p> </td>
  </tr>
  <% } %>
  </tbody>
</table>
<div class="hero__call-to-action">
  <a href="/CrearSolucion" class="hero__button  ghost-button  ghost-button--hero">
    <i class="fa fa-plus-circle" aria-hidden="true"></i><p> <%=pack.text[3][pack.language]%></p></a>
</div>
  </div>
</section>
</body>
</html>