<!DOCTYPE html>
<html lang="en">
<body>
<% include ../partials/header %>
<% include ../partials/nav %>
  <div class="container">
     <h1><%=title%></h1>
  <h3>Porque debo listar, si por debajo se hace todo?</h3>


  <table class="table">
      <thead>
          <tr>
            <th> ID </th>
            <th> Username </th>
            <th> Password </th>
            <th> Email </th>
            <!--<th> Rut </th>-->
            <th> Acciones </th>
          </tr>
      </thead>
    <% for (var i = 0; i < resultado.length; i++){ %>
    <tbody>
    <tr>
      <td><%= resultado[i].id%></td>
      <td><%= resultado[i].username%></td>
      <td><%= resultado[i].password %></td>
      <td><%= resultado[i].email %></td>
      <!--<td><%= resultado[i].rut%></td>-->
      <td> Eliminar Modificar</td>
    </tr>
    <% }%>
    </tbody>
  </table>
  </div>
</body>
</html>