a {
    text-decoration: none !important;
}

.clabel {
    color: whitesmoke;
}

span {
    -ms-word-break: break-all;
    word-break: break-all;

    /* Non standard for webkit */
    word-break: break-word;

    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    hyphens: auto;
    color: whitesmoke;
}

div.scroll {
    width: 1200px;
    height: 400px;
    overflow: scroll;
}

.center {
    margin: auto;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(255,255,255,0.2);
    transition: 0.3s;
    width: 70%;
    border-radius: 5px;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(255,255,255,0.2);
}

img {
    border-radius: 5px 5px 0 0;
}



.group-list {
    -moz-column-gap: 20;
    -moz-column-count: 3;
    -webkit-column-count: 3;
    -webkit-column-gap: 22;
    column-count: 3;
    column-gap: 20;
}

/*.group-list-item{
    margin: 10px 0;
}*/

.left-arrow {
    display: inline-block;
    top: 50%;
    margin-top: -0.5em;
    position: relative;
    height: 100%;
    width: 20px;
    float: left;
    color: white;
}
.right-arrow {
    display: inline-block;
    top: 50%;
    margin-top: -0.5em;
    position: relative;
    height: 100%;
    width: 20px;
    color: white;
    float:right;
}
.image {
    transition: all ease 0.2s;
    border-radius: 50px;
    background: url(/img/dog.png);
    background-size: 95%;
    background-position: center;
    height: 100px;
    width: 100px;
    float: left;
    position: relative;
}
.name {
    transition: all ease 0.2s;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    font-weight: bold;
    color: white;
    position: relative;
    width: 500px;
    float: left;
}
.desc {
    font-weight: normal;
    font-style: italic;
}

.mostrar1 {
    opacity: 0;
}
.mostrar2 {
    opacity: 1;
}

.prioBtn {

}