a {
    text-decoration: none !important;
}

.clabel {
    color: whitesmoke;
}

span {
    -ms-word-break: break-all;
    word-break: break-all;

    /* Non standard for webkit */
    word-break: break-word;

    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    hyphens: auto;
    color: whitesmoke;
}

div.scroll {
    width: 1200px;
    height: 400px;
    overflow: scroll;
}

.center {
    margin: auto;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(255,255,255,0.2);
    transition: 0.3s;
    width: 70%;
    border-radius: 5px;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(255,255,255,0.2);
}

img {
    border-radius: 5px 5px 0 0;
}



.group-list {
    -moz-column-gap: 20;
    -moz-column-count: 3;
    -webkit-column-count: 3;
    -webkit-column-gap: 22;
    column-count: 3;
    column-gap: 20;
}

.group-list-item{
    margin: 10px 0;
}

.testing {

}